---
import BaseHead from '@/components/BaseHead.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import WPArticleSummary from '@/components/WPArticleSummary.astro'
import { urlifyToken, sortedPosts } from '@/js/util.js'
import { Debug } from 'astro/components'
import { SITE_TITLE, SITE_DESCRIPTION } from '@/config.ts'

export async function getStaticPaths() {
  const posts = sortedPosts(await Astro.glob('../../posts/*.{md,mdx}'))
  const categories = new Set()
  posts.forEach(post => {
    post.frontmatter.categories?.map(urlifyToken).forEach(c => categories.add(c))
  })
  return Array.from(categories).map(cat => {
    const categoryPosts = posts.filter(post => post.frontmatter.categories?.map(urlifyToken).includes(cat))
    return {
      params: { slug: cat },
      props: {
        posts: categoryPosts,
        category: categoryPosts[0].frontmatter.categories.find(x => urlifyToken(x) === cat)
      }
    }
  })
}
---

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <BaseHead title={`${Astro.props.category} » ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
  </head>
  <body class="archive category">
    <div id="page" class="hfeed site">
      <Header />
      <div id="main" class="wrapper">
        <div id="primary" class="site-content">
          <div id="content" role="main">
            <header class="page-header">
              <h1 class="page-title">Category Archives: <span>{Astro.props.category}</span></h1>
            </header>
            {Astro.props.posts.map(page =>
              <WPArticleSummary page={page} />
            )}
          </div>
        </div>
        <div class="clear-fix"></div>
      </div>
    </div>
    <Footer />
  </body>
</html>
