---
import BaseHead from '@/components/BaseHead.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
// import Sidebar from '@/components/Sidebar.astro'
import WPArticleSummary from '@/components/WPArticleSummary.astro'
import { SITE_TITLE, SITE_DESCRIPTION, PAGE_SIZE } from '@/config.ts'
import { sortedPosts } from '@/js/util.js'

export async function getStaticPaths({ paginate }) {
  const posts = sortedPosts(await Astro.glob('../../posts/*.{md,mdx}'))
  return paginate(posts, { pageSize: PAGE_SIZE })
}
---

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <BaseHead title={`${SITE_TITLE} » Page ${Astro.props.page.currentPage}`} description={SITE_DESCRIPTION} />
  </head>
  <body class="home blog paged">
    <div id="page" class="hfeed site">
      <Header />
      <div id="main" class="wrapper">
        <div id="primary" class="site-content">
          <div id="content" role="main">
            {Astro.props.page.data.map(page =>
              <WPArticleSummary page={page} articlePreview={true} />
            )}
            <nav id="nav-below" class="navigation nav-below" role="navigation">
              <h3 class="assistive-text">Post navigation</h3>
              {Astro.props.page.url.prev &&
                <div class="nav-next alignleft">
                  <a href={Astro.props.page.url.prev}><span class="meta-nav">&larr;</span> Newer</a>
                </div>}
              {Astro.props.page.url.next &&
                <div class="nav-previous alignright">
                  <a href={Astro.props.page.url.next}>Older <span class="meta-nav">&rarr;</span></a>
                </div>}
              <div class="clear-fix"></div>
            </nav>
          </div>
        </div>
        {/*<Sidebar />*/}
        <div class="clear-fix"></div>
      </div>
      <Footer />
    </div>
  </body>
</html>
